#root .lato {
  font-size: 14px;
  font-weight: 400;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
#root header {
  width: 100%;
  min-height: 50px;
  background-color: #2C577D;
  color: #F6F6F6;
}
#root .desk-flex-container {
  display: flex;
  justify-content: space-around;
  min-width: 900px;
  min-height: 100px;
  margin: 5% auto;
}
#root .desk-flex-block {
  border: 1px gray dashed;
  min-width: 250px;
  min-height: 100px;
  align-content: space-around;
}
#root .desk-flex-block ul {
  list-style: none;
}
#root .table-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#root .table-flex-block {
  border: 3px black solid;
  min-width: 900px;
  min-height: 300px;
  margin: 10px;
  background-color: rgba(231, 232, 159, 0.7);
}
