#root {

  .lato {
    font-size: 14px;
    font-weight: 400;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  }

  @keyframes header-background {
    from {
      background-color: darkgrey;
    }
    50% {
      background-color: #f1ff0e;
    }
    to {
      background-color: darkgrey;
    }
  }

  header {
    width: 100%;
    min-height: 50px;
    background-color: darkgrey;
    color: #F6F6F6;
    position: relative;
    animation: header-background 54s linear;
  }

  @keyframes sun {
    from {
      left: 25px;
      bottom: 8px;
    }
    25% {
      bottom: 30px
    }
    50% {
      bottom: 50px
    }
    75% {
      bottom: 30px
    }
    to {
      left: 900px;
      bottom: 8px;
    }
  }

  .sun-box {
    position: absolute;
    color: #f1ff0e;
    text-shadow: 0 0 5px black;
    bottom: 0;
    animation: sun 54s linear;

    .sun-symbol {
      position: relative;
      font-size: 20px;
    }
  }

  .desk-flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    min-height: 100px;
    margin: 5% auto;

  }

  .desk-flex-block {
    border: 1px gray dashed;
    min-width: 250px;
    min-height: 100px;
    align-content: space-around;
    background-color: rgba(231, 232, 159, 0.7) !important;
  }

  .desk-at-work {
    background-size: 100% auto;
  }

  .table-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  .table-flex-block {
    border: 3px black solid;
    min-height: 300px;
    margin: 10px;
    background-color: rgba(231, 232, 159, 0.7);
  }

  .clock-button {
    width: 70px;
  }

  .clock p {
    margin-bottom: auto;
  }
}