#root{

  .lato {
    font-size: 14px;
    font-weight: 400;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  }

  header {
    width: 100%;
    min-height: 50px;
    min-width: 900px;
    background-color: #2C577D;
    color: #F6F6F6;
  }

  .desk-flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-content: space-around;
    min-height: 100px;
    margin: 5% auto;

  }

  .desk-flex-block {
       border: 1px gray dashed;
       min-width: 250px;
       min-height: 100px;
       align-content: space-around;
       margin-bottom: 20px;
       ul {
         list-style: none;
       }
     }

  .desk-at-work {
    background: url('../../public/img/at-work-icon.jpg') center no-repeat;
    background-size: auto 100%;
  }

  .table-flex-container {
    display: flex;
    flex-direction: column;
    justify-content:space-around;

  }

  .table-flex-block {
    border: 3px black solid;
    min-width: 900px;
    min-height: 300px;
    margin: 10px;
    background-color: rgba(231, 232, 159, 0.7);
  }
}